
@{
    ViewBag.Title = "Index";
}

<h3>MVC Camp Tablo Örneği - Kategori</h3>
<br />
<table>
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
</table>

